* {
    
    padding: 0px;
    margin : 0px;
}
ul,li,a {
    list-style-type: none;
    color: #e4e4e4;
    text-decoration: none;    
}
// 添加第三方字体库
@font-face {
    font-family: "Sloppy-Hand";
    src: url(Sloppy-Hand.otf) format("opentype");
}
body {
    background: url("https://huiji-public.huijistatic.com/xinglugu/uploads/8/85/Stardewbackground.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}
// 顶部导航栏
header {
    position: fixed;
    z-index: 100;
    .nav-collapse {
        background-color: #ffffff;
        height: 50px;
        overflow: hidden;
        .left{
            float: left;
            .logo{
                
                float: left;
                background-color: #333333;
                padding: 0px 9px;            
                img{
                    width: 90px;
                    height: 50px;
                }
            }


            .list-collapse {
                background: #333333;
                float: left;
                li {
                    display: inline-block;

                    a {
                        line-height: 50px;
                        height: 50px;
                        color: white;
                        text-decoration: none;
                        display: inline-block;
                        padding: 0px 9px;
                    }
                }

                li:hover{
                    background-color: rgba(17, 17, 17, 0.75);
                }
            }
            
        }

        .search {
            // background-color: green;
            // display: flex;
            width: 2000px;
            display: table-cell;
            padding: 0px 30px;
            input {
                width: 100%;
                margin-top: 15px;
                outline: none;
                border: none;
            }
        }

        .right {
            float:right;
            padding: 0px 15px;
            a{
                color:#333333;
                text-decoration: none;
                line-height: 50px;
                height: 50px;
                display: inline-block;
                padding: 0px 5px;
            }
        }
    }

    .nav-pills{
        background-color: rgba(36,142,57,0.97);
        // overflow: hidden;
        height: 50px;
        // 消除浮动
        ::after {
            content: "";
            clear: both;
        }
        .list-pills {
            float: left;           
            .chicken-logo:hover{
                background-color: rgba(19,112,25,0.98);

            }
            .chicken-logo {
                font-size: 25px;
                line-height: 50px;
                padding: 0px 25px;
                float: left;
                img{
                    width: 20px;
                    padding-top: 14px;
                }
            }

            .attention {
                float: left;
                display: block;    
                background-color: rgb(51, 102, 204);
                font-size: 13px ;
                color: white;
                min-width: 40px;
                line-height: 1.286;
                text-align: center;
                margin-top: 10px;
                border-radius: 10%;   
            }
            .attention span:hover {
                background-color: rgba(51,102,240,0.95);
                cursor: pointer;
            }
            
            .dropdown {
                padding: 0px 20px;
                float: left;
                position: relative;
                line-height: 50px;
                .list-childs{
                    position: absolute;
                    background-color: rgba(19,112,25,0.98);
                    left: 0;
                    margin-top: 2px;
                    width: 9em;
                    visibility: hidden;
                    transition: visibility .1s;
                    .list-items {
                        line-height: 30px;
                        padding: 0px 19px;
                        
                    }
                    .list-items:hover {
                        background-color: rgba(36,142,57,0.97);
                    }
                }
            }
            .dropdown:hover {
                background-color: rgba(19,112,25,0.98);
            }
            .dropdown:hover {
                .list-childs {
                    visibility: visible;
                    
                }
            }
        }


            .count{
                float: right;
                height: 50px;
                p{
                    color: white;
                    padding: 0px 27px;
                    span{
                        padding: 0px 5px;
                        height: 50px;
                        line-height: 50px;    
                        a {
                            font-size: 24px;
                            
                        }
                }
            }
            }
        }
    }


.wiki-body {
    padding-top: 100px;
    .article {
        width: 90%;
        background-color: rgba(4,13,13,0.9399999999999999);
        overflow: hidden;
        padding-left: 35px;
        padding-right: 35px;
        margin-left: auto;
        margin-right: auto;
        // 顶部背景
        .article-bg{
            background-color: rgba(50, 136, 66, 0.28);
            margin: 20px 0;
            color: white;
            overflow: hidden;
            // 星露谷物语游戏介绍以及作者介绍功能等部分
            .article-left {
                width: 50%;
                float: left;
                font-size: 16px;
                border-color: #b6dc7e;
                box-sizing: border-box;
                padding: 0 12px;
                margin-top: 20px;
                //游戏背景介绍模块
                .article-description {
                    padding: 2em;
                    img {
                        width: 150px;
                        height: 95px;
                        float: left;
                        margin-right: 23px;
                        margin-bottom: 25px;
                    }
                    p {
                        margin: 7.5px 0;
                        line-height: 30px;
                        color: #e4e4e4;
                        b {
                            font-size: 20px;
                        }
                        .sdv {
                            font-family: Sloppy-Hand,"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
                            margin: 0px 5px;
                            font-size: 120%;
                            color: #b2d878 ;
                        }
                    }
                    // 作者介绍/申请管理/操作指南按钮
                    .game-desc {
                        clear: both;
                        padding: 8px 0;
                        .desc-item {
                            display: inline-block;
                            background-color: #227a33;
                            border-radius: 4px;
                            padding: 6px 12px;
                            text-align: center;
                            box-shadow: inset 0 -2px rgba(0,0,0,.15);
                            cursor: pointer;
                        }
                        .desc-item:hover {
                            background-color: rgba(19,112,25,0.98);
                        }
                        
                    }
                    // 更新日志按钮
                    .changes-log {
                        display: inline-block;
                        margin: 1.2em 0;
                        .changes-item {
                            margin: auto;
                            background-color: #2d94cf;
                            padding: 8px 12px;
                            text-align: center;
                            border-radius: 4px;
                            cursor: pointer;
                            box-shadow: inset 0 -2px rgba(0,0,0,.15);
                        }
                    }
                    .changes-item:hover {
                        background-color: #2476a5;
                    }
                }
            }
            // 右边游戏里的一些有趣彩蛋之类的部分
            .article-right {
                width: 50%;
                float: left;
                border-color: #b6dc7e;
                box-sizing: border-box;
                padding: 0 12px;
                margin-top: 20px;
                font-size: 14px;
                .game-news {
                    margin-top: 30px;
                    padding: 12px;
                    background-color: #227a33;
                    border-radius: 4px;
                    box-shadow: inset 0 -6px rgba(0,0,0,.15);
                    .news-list {
                        margin-bottom: 9px;
                        padding-left: 28px;
                        .news-items {
                            margin-top: 5px;
                            margin-bottom: 5px;
                            line-height: 1.8;
                            list-style-type: disc;
                            .morenews {
                                color: #b6dc7e;
                            }
                        }
                    }
                }
            }
            
        }
        // 游戏具体内容部分
        .game-art-bg {
            overflow: hidden;
            .game-descriptions {
                margin-top: 20px;
                padding-right: 12px;
                width: 50%;
                box-sizing: border-box;
                float: left;
                .game-introduce {
                    .nav-tabs {
                        background-color: #227a33;
                        box-shadow: inset 0 -6px rgba(0,0,0,.15);
                        border-radius: 4px;
                        line-height: 2.5em;
                        position: relative;
                        .tabs-items {
                            display: inline-block;
                            margin-left: 1em;
                            a {
                                padding: 10px 15px;
                                color:#b6dc7e;
                            }
                        }
                        
                        .tabs-items:hover {
                            background-color: rgb(16,50,32);
                            border-radius: 4px 4px 0 0;
                        }
                        .tab-content {
                            box-sizing: border-box;
                            .tab-actives {
                                // display: none;
                                background-color: #103220;
                                column-count: 3;
                                padding: 0 3em;
                                border-bottom: 1px #227a33 solid;

                                .tab-active {
                                    
                                    .active-items {
                                        margin: 5px 0;
                                        line-height: 1.8;
                                        list-style-type: disc;
                                        a {
                                            color:#b6dc7e;
                                        }
                                        img {
                                            width: 32px;
                                            height: 36px;
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }
                    }
   
                }

            }
            // 编辑动态部分
            .editing-activity {
                margin-top: 20px;
                padding-right: 12px;
                width: 50%;
                box-sizing: border-box;
                float: left;
                .editing-title {
                    background-color: #227a33;
                    color: #fff;
                    text-align: left;
                    padding: .7em 0 .55em 0.35em;
                    border-radius: 4px;
                    box-shadow: inset 0 -6px rgba(0,0,0,.15);
                    .edit-title {
                        margin-left: 1em;
                    }
                }
                .editing-content {
                    background-color: #103220;
                    padding: 0.5em 1.5em 1.5em 0.5em;
                    border-radius: 0 0 4px 4px;
                    margin-bottom: 1em;
                    position: relative;
                    span,a {
                        color: #999;
                        line-height: 17.5px;
                        font-size: 12px;
                    }
                        .user-home-activity {
                            padding: 10px 0;
                            .media-content {
                                display: flex;
                            }

                            .media-body {
                                margin-left: 20px;
                                flex: 1;

                                .user {
                                    line-height: 17.5px;
                                    font-size: 12px;
                                    color: #999;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                    
                                }
                                .media-title {
                                    a {
                                        color: #b6dc7e;
                                        font-size: 18px;
                                        font-weight: bold;
                                    }
                                }

                            }
                        }
                        .media-time-ago {
                            text-align: right;
                            .time-ago-h::after {
                                content: "";
                                width: 2px;
                                height: 12px;
                                display: inline-block;
                                margin: -1px 3px;
                                background-color: #999;
                            }
                    }
                }
            }
        }
    }
}
// .nav-tabs>.tabs-items:nth-child(1):hover~.tab-content>.tab-actives:nth-child(1),
// .nav-tabs>.tabs-items:nth-child(2):hover~.tab-content>.tab-actives:nth-child(2),
// .nav-tabs>.tabs-items:nth-child(3):hover~.tab-content>.tab-actives:nth-child(3),
// .nav-tabs>.tabs-items:nth-child(4):hover~.tab-content>.tab-actives:nth-child(4),
// .nav-tabs>.tabs-items:nth-child(5):hover~.tab-content>.tab-actives:nth-child(5),
// .tabs-items:hover{
//     ~.tab-content{
//         .tab-actives{
//             display: block;
//         }
//     }
// }
