* {
    
    padding: 0px;
    margin : 0px;
}
ul,li,a {
    list-style-type: none;
    color: #e4e4e4;
    text-decoration: none;    
    // line-height: 1.8;
}

.clearfix:before, .clearfix:after{
    content: "";
    display: table;
} 
.clearfix:after{
    clear: both;
}
.clearfix{
    zoom:1;
}

// 添加第三方字体库
@font-face {
    font-family: "Sloppy-Hand";
    src: url(Sloppy-Hand.otf) format("opentype");
}
body {
    background: url("https://huiji-public.huijistatic.com/xinglugu/uploads/8/85/Stardewbackground.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}
// 顶部导航栏
header {
    position: fixed;
    z-index: 100;
    .nav-collapse {
        background-color: #ffffff;
        height: 50px;
        // overflow: hidden;
        .left{
            float: left;
            .logo{
                height: 50px;
                float: left;
                background-color: #333333;
                padding: 0px 9px;            
                img{
                    width: 90px;
                    height: 50px;
                }
            }


            .list-collapse {
                background: #333333;
                float: left;
                li {
                    display: inline-block;

                    a {
                        line-height: 50px;
                        height: 50px;
                        color: white;
                        text-decoration: none;
                        display: inline-block;
                        padding: 0px 9px;
                    }
                }

                li:hover{
                    background-color: rgba(17, 17, 17, 0.75);
                }
            }
            
        }

        .search {
            // background-color: green;
            // display: flex;
            width: 2000px;
            display: table-cell;
            padding: 0px 30px;
            input {
                width: 100%;
                margin-top: 15px;
                outline: none;
                border: none;
            }
        }

        .right {
            float:right;
            padding: 0px 15px;
            a{
                color:#333333;
                text-decoration: none;
                line-height: 50px;
                height: 50px;
                display: inline-block;
                padding: 0px 5px;
            }
        }
    }

    .nav-pills{
        background-color: rgba(36,142,57,0.97);
        // overflow: hidden;
        height: 50px;
        // 消除浮动
        ::after {
            content: "";
            clear: both;
        }
        .list-pills {
            float: left;           
            .chicken-logo:hover{
                background-color: rgba(19,112,25,0.98);

            }
            .chicken-logo {
                font-size: 25px;
                line-height: 50px;
                padding: 0px 25px;
                float: left;
                img{
                    width: 20px;
                    padding-top: 14px;
                }
            }

            .attention {
                float: left;
                display: block;    
                background-color: rgb(51, 102, 204);
                font-size: 13px ;
                color: white;
                min-width: 40px;
                line-height: 1.286;
                text-align: center;
                margin-top: 10px;
                border-radius: 10%;   
            }
            .attention span:hover {
                background-color: rgba(51,102,240,0.95);
                cursor: pointer;
            }
            
            .dropdown {
                padding: 0px 20px;
                float: left;
                position: relative;
                line-height: 50px;
                .list-childs{
                    position: absolute;
                    background-color: rgba(19,112,25,0.98);
                    left: 0;
                    margin-top: 2px;
                    width: 9em;
                    visibility: hidden;
                    transition: visibility .1s;
                    .list-items {
                        line-height: 30px;
                        padding: 0px 19px;
                        
                    }
                    .list-items:hover {
                        background-color: rgba(36,142,57,0.97);
                    }
                }
            }
            .dropdown:hover {
                background-color: rgba(19,112,25,0.98);
            }
            .dropdown:hover {
                .list-childs {
                    visibility: visible;
                    
                }
            }
        }


            .count{
                float: right;
                height: 50px;
                p{
                    color: white;
                    padding: 0px 27px;
                    span{
                        padding: 0px 5px;
                        height: 50px;
                        line-height: 50px;    
                        a {
                            font-size: 24px;
                            
                        }
                }
            }
            }
        }
    }


.wiki-body {
    padding-top: 100px;
    .article {
        width: 90%;
        background-color: rgba(4,13,13,0.9399999999999999);
        overflow: hidden;
        padding-left: 35px;
        padding-right: 35px;
        margin-left: auto;
        margin-right: auto;
        // 顶部背景
        .article-bg{
            background-color: rgba(50, 136, 66, 0.28);
            margin: 20px 0;
            color: white;
            overflow: hidden;
            // 星露谷物语游戏介绍以及作者介绍功能等部分
            .article-left {
                width: 50%;
                float: left;
                font-size: 16px;
                border-color: #b6dc7e;
                box-sizing: border-box;
                padding: 0 12px;
                margin-top: 20px;
                //游戏背景介绍模块
                .article-description {
                    padding: 2em;
                    img {
                        width: 150px;
                        height: 95px;
                        float: left;
                        margin-right: 23px;
                        margin-bottom: 25px;
                    }
                    p {
                        margin: 7.5px 0;
                        line-height: 30px;
                        color: #e4e4e4;
                        b {
                            font-size: 20px;
                        }
                        .sdv {
                            font-family: Sloppy-Hand,"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
                            margin: 0px 5px;
                            font-size: 120%;
                            color: #b2d878 ;
                        }
                    }
                    // 作者介绍/申请管理/操作指南按钮
                    .game-desc {
                        clear: both;
                        padding: 8px 0;
                        .desc-item {
                            display: inline-block;
                            background-color: #227a33;
                            border-radius: 4px;
                            padding: 6px 12px;
                            text-align: center;
                            box-shadow: inset 0 -2px rgba(0,0,0,.15);
                            cursor: pointer;
                        }
                        .desc-item:hover {
                            background-color: rgba(19,112,25,0.98);
                        }
                        
                    }
                    // 更新日志按钮
                    .changes-log {
                        display: inline-block;
                        margin: 1.2em 0;
                        .changes-item {
                            margin: auto;
                            background-color: #2d94cf;
                            padding: 8px 12px;
                            text-align: center;
                            border-radius: 4px;
                            cursor: pointer;
                            box-shadow: inset 0 -2px rgba(0,0,0,.15);
                        }
                    }
                    .changes-item:hover {
                        background-color: #2476a5;
                    }
                }
            }
            // 右边游戏里的一些有趣彩蛋之类的部分
            .article-right {
                width: 50%;
                float: left;
                border-color: #b6dc7e;
                box-sizing: border-box;
                padding: 0 12px;
                margin-top: 20px;
                font-size: 14px;
                .game-news {
                    margin-top: 30px;
                    padding: 12px;
                    background-color: #227a33;
                    border-radius: 4px;
                    box-shadow: inset 0 -6px rgba(0,0,0,.15);
                    .news-list {
                        margin-bottom: 9px;
                        padding-left: 28px;
                        .news-items {
                            margin-top: 5px;
                            margin-bottom: 5px;
                            line-height: 1.8;
                            list-style-type: disc;
                            .morenews {
                                color: #b6dc7e;
                            }
                        }
                    }
                }
            }
            
        }
        // 游戏具体内容部分
        .game-art-bg {
            overflow: hidden;
            .game-descriptions {
                margin-top: 20px;
                padding-right: 12px;
                width: 50%;
                box-sizing: border-box;
                float: left;

                .game-introduce {
                    position: relative;
                    .nav-tabs {
                        background-color: #227a33;
                        box-shadow: inset 0 -6px rgba(0,0,0,.15);
                        border-radius: 4px;
                        line-height: 2.5em;
                        .tabs-items {
                            display: inline-block;
                            margin-left: 1em;
                            a {
                                padding: 10px 15px;
                                color:#b6dc7e;
                            }
                            .tab-actives {
                                position: absolute;
                                visibility: hidden;
                                left: 0;
                                // box-sizing: border-box;
                                .tab-active {
                                    .active-items {
                                        margin: 5px 0;
                                        line-height: 1.8;
                                        list-style-type: disc;
                                        a {
                                            color:#b6dc7e;
                                        }
                                        img {
                                            width: 32px;
                                            height: 36px;
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .tabs-items:hover {
                            background-color: rgb(16,50,32);
                            border-radius: 4px 4px 0 0;
                            .tab-actives {
                                // display: block;
                                visibility: visible;
                                border-bottom: 1px #227a33 solid;
                                background-color: #103220;
                                column-count: 3;
                                padding: 0 3em;
                            }
                        }

                    }
   
                }
                .wiki-desc {
                    // position: absolute;
                    margin-top: 17em;
                    margin-bottom: 2em;
                    background-color: #227a33;
                    box-shadow: inset 0 -6px rgba(0,0,0,.15);
                    padding: 2em;
                    .desc {
                        margin: 7.5px 0;
                        text-align: center;
                        font-size: 16px;
                        color: #fff;
                        a,b {
                            font-family:Sloppy-Hand, "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;                            color: #b6dc7e;
                            font-size:120%;
                        }
                        .hover-color:hover {
                            color: #94cb42;
                        }
                        b {
                            font-weight: bold;
                        }
                    }
                }
                .wiki-statement {
                    margin: 12px 0px;
                    border-radius: 4px;
                    box-shadow: inset 0 -6px rgba(0,0,0,.15);
                    text-align: center;
                    padding: 1em;
                    background-color: #227a33;
                    color: #fff;
                    a {
                        color:#b6dc7e;
                    }
                    a:hover {
                        color: #94cb42;
                    }
                    img {
                        vertical-align: middle;
                        width: 24px;
                        height: 34px;
                    }
                }
                .boke,.links{
                    position: relative;
                    margin-bottom: 20px;
                    .boke-title,.links-title {
                        background-color: #227a33;
                        box-shadow: inset 0 -6px rgba(0,0,0,.15);
                        padding: .7em 0 .55em 0.35em;
                        border-radius: 4px;
                        span {
                            margin-left: 0.75em;
                            color: #fff;
                        }
                    }
                    .boke-content,.links-lists {
                        background-color: #103220;
                        border-radius: 0 0 4px 4px;
                        margin-bottom: 1em;
                        list-style-type: disc;
                        padding: 0.5em 1.5em 1.5em 0.5em;
                        .lists-find{
                            margin-top: 24px;
                            overflow: hidden;
                            .boke-lists {
                                margin: 0.3em 0 0 1.6em;
                                margin-bottom: 9px;
                                li {
                                    list-style-type: disc;
                                }
                                a {
                                    font-size: 1.5em;
                                    color:#888888;
                                    text-align: center;
                                }
                            }
    
                            .find-more{
                                float: right;
                                background-color: #227a33;
                                padding: 0.5em;
                            }
                        }

                                                
                    }
                }
                .links-items {
                    margin: 0.3em 0 0 1.6em;
                    margin-bottom: 9px;
                    .links-item {
                        list-style-type: disc;
                        margin: 5px 0;
                        .item-href {
                            color: #b6dc7e;
                            font-size: 14px;
                        }
                        .item-href:hover {
                            color: #94cb42;
                        }
                    }
                }
            }
            // 编辑动态部分
            .editing-activity {
                margin-top: 20px;
                padding-right: 12px;
                width: 50%;
                box-sizing: border-box;
                float: left;
                .editing-title {
                    background-color: #227a33;
                    color: #fff;
                    text-align: left;
                    padding: .7em 0 .55em 0.35em;
                    border-radius: 4px;
                    box-shadow: inset 0 -6px rgba(0,0,0,.15);
                    .edit-title {
                        margin-left: 1em;
                    }
                }
                .editing-content {
                    background-color: #103220;
                    padding: 0.5em 1.5em 1.5em 0.5em;
                    border-radius: 0 0 4px 4px;
                    margin-bottom: 1em;
                    position: relative;
                    span,a {
                        color: #999;
                        line-height: 17.5px;
                        font-size: 12px;
                    }
                        .user-home-activity {
                            padding: 10px 0;
                            .media-content {
                                display: flex;
                            }

                            .media-body {
                                margin-left: 20px;
                                flex: 1;

                                .user {
                                    line-height: 17.5px;
                                    font-size: 12px;
                                    color: #999;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                    
                                }
                                .media-title {
                                    margin-top: 10px;
                                    a {
                                        color: #b6dc7e;
                                        font-size: 18px;
                                        font-weight: bold;
                                    }
                                }

                            }
                        }
                        .media-time-ago {
                            text-align: right;
                            .time-ago-h::after {
                                content: "";
                                width: 1px;
                                height: 12px;
                                display: inline-block;
                                margin: -1px 5px;
                                background-color: #999;
                            }
                    }
                }
            }
        }
        // 其他维基链接部分
        .other-wikis {
            margin-top: 20px;
            .otw-title {
                background-color: #227a33;
                box-shadow: inset 0 -6px rgba(0,0,0,.15);
                padding: .7em 0 .55em 0.35em;
                border-radius: 4px;
                span {
                    margin-left: 0.75em;
                    color: #fff;
                }
            }
            .otw-lists {
                padding: 0.5em 1.5em 1.5em 0.5em;
                background-color: #103220;
                border-radius: 0 0 4px 4px;
                margin-bottom: 3em;
                box-sizing: border-box;
                .lists {
                    display: flex;
                    margin-bottom: 9px;
                    // 平均分配占用空间
                    // justify-content: space-evenly;
                    .lists-item {
                        margin: 5px 0;
                        flex: 1;
                        .lists-item-content {
                            text-align: center;
                            img {
                                width: 168px;
                                height: 224px;
                            }
    
                            .item-text {
                                margin: 10px 0;
                                font-size: 94%;
                            }
                        }
                    }

                }
            }
        }
    }
    .footer {
        margin-top: 2em;
        padding: 2em 0;
        background-color: rgba(8,28,43,0.9399999999999999);
        .container {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            .parser-output {
                font-size: 14px;
                .parser-lists {
                    padding-left: 2em;
                    margin-bottom: 10px;
                    .lists-item {
                        list-style-type: disc;
                        a {
                            color:#b6dc7e;
                        }
                        a:hover {
                            color: #94cb42;
                        }
                    }
                }
            }
            .siteNotice {
                margin: 12px 0;
                display: flex;
                .siteitems {
                    flex:1;
                    color: #888888;
                    a {
                        color: #888888;
                    }
                    .sitetitle {
                        margin-bottom: 12px;
                        font-size: 18px;
                    }
                    .sitelists {
                        .sitelists-item {
                            font-size: 12px;
                            color: #888888;
                            .item-img {
                                width: 46px;
                                height: 16px;
                                vertical-align: middle;
                            }
                            .item-img-big {
                                width: 107px;
                                height: 18px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}
// 导航栏
@media screen and (max-width:1120px) {
    .count {
        p>span:nth-of-type(2) {
            display: none;
        }
    }
}
// 宽度小于等于1029px时使用以下样式
@media screen and (max-width:1029px) {
    .count {
            display: none;
    }
}
 
@media screen and (max-width:880px) {
    .list-pills {
        li:nth-child(n+7) {
            display: none;
        }
    }
}
@media screen and (max-width:738px) {
    .list-pills {
        li:nth-child(n+6) {
            display: none;
        }
    }
}
@media screen and (max-width:666px) {
    .nav-pills,.right,.search {
        display: none;
    }
}