* {
  padding: 0px;
  margin: 0px;
}
ul,
li,
a {
  list-style-type: none;
  color: #e4e4e4;
  text-decoration: none;
}
@font-face {
  font-family: "Sloppy-Hand";
  src: url(Sloppy-Hand.otf) format("opentype");
}
body {
  background: url("https://huiji-public.huijistatic.com/xinglugu/uploads/8/85/Stardewbackground.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
header {
  position: fixed;
  z-index: 100;
}
header .nav-collapse {
  background-color: #ffffff;
  height: 50px;
  overflow: hidden;
}
header .nav-collapse .left {
  float: left;
}
header .nav-collapse .left .logo {
  float: left;
  background-color: #333333;
  padding: 0px 9px;
}
header .nav-collapse .left .logo img {
  width: 90px;
  height: 50px;
}
header .nav-collapse .left .list-collapse {
  background: #333333;
  float: left;
}
header .nav-collapse .left .list-collapse li {
  display: inline-block;
}
header .nav-collapse .left .list-collapse li a {
  line-height: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0px 9px;
}
header .nav-collapse .left .list-collapse li:hover {
  background-color: rgba(17, 17, 17, 0.75);
}
header .nav-collapse .search {
  width: 2000px;
  display: table-cell;
  padding: 0px 30px;
}
header .nav-collapse .search input {
  width: 100%;
  margin-top: 15px;
  outline: none;
  border: none;
}
header .nav-collapse .right {
  float: right;
  padding: 0px 15px;
}
header .nav-collapse .right a {
  color: #333333;
  text-decoration: none;
  line-height: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px 5px;
}
header .nav-pills {
  background-color: rgba(36, 142, 57, 0.97);
  height: 50px;
}
header .nav-pills ::after {
  content: "";
  clear: both;
}
header .nav-pills .list-pills {
  float: left;
}
header .nav-pills .list-pills .chicken-logo:hover {
  background-color: rgba(19, 112, 25, 0.98);
}
header .nav-pills .list-pills .chicken-logo {
  font-size: 25px;
  line-height: 50px;
  padding: 0px 25px;
  float: left;
}
header .nav-pills .list-pills .chicken-logo img {
  width: 20px;
  padding-top: 14px;
}
header .nav-pills .list-pills .attention {
  float: left;
  display: block;
  background-color: #3366cc;
  font-size: 13px ;
  color: white;
  min-width: 40px;
  line-height: 1.286;
  text-align: center;
  margin-top: 10px;
  border-radius: 10%;
}
header .nav-pills .list-pills .attention span:hover {
  background-color: rgba(51, 102, 240, 0.95);
  cursor: pointer;
}
header .nav-pills .list-pills .dropdown {
  padding: 0px 20px;
  float: left;
  position: relative;
  line-height: 50px;
}
header .nav-pills .list-pills .dropdown .list-childs {
  position: absolute;
  background-color: rgba(19, 112, 25, 0.98);
  left: 0;
  margin-top: 2px;
  width: 9em;
  visibility: hidden;
  transition: visibility 0.1s;
}
header .nav-pills .list-pills .dropdown .list-childs .list-items {
  line-height: 30px;
  padding: 0px 19px;
}
header .nav-pills .list-pills .dropdown .list-childs .list-items:hover {
  background-color: rgba(36, 142, 57, 0.97);
}
header .nav-pills .list-pills .dropdown:hover {
  background-color: rgba(19, 112, 25, 0.98);
}
header .nav-pills .list-pills .dropdown:hover .list-childs {
  visibility: visible;
}
header .nav-pills .count {
  float: right;
  height: 50px;
}
header .nav-pills .count p {
  color: white;
  padding: 0px 27px;
}
header .nav-pills .count p span {
  padding: 0px 5px;
  height: 50px;
  line-height: 50px;
}
header .nav-pills .count p span a {
  font-size: 24px;
}
.wiki-body {
  padding-top: 100px;
}
.wiki-body .article {
  width: 90%;
  background-color: rgba(4, 13, 13, 0.94);
  overflow: hidden;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
}
.wiki-body .article .article-bg {
  background-color: rgba(50, 136, 66, 0.28);
  margin: 20px 0;
  color: white;
  overflow: hidden;
}
.wiki-body .article .article-bg .article-left {
  width: 50%;
  float: left;
  font-size: 16px;
  border-color: #b6dc7e;
  box-sizing: border-box;
  padding: 0 12px;
  margin-top: 20px;
}
.wiki-body .article .article-bg .article-left .article-description {
  padding: 2em;
}
.wiki-body .article .article-bg .article-left .article-description img {
  width: 150px;
  height: 95px;
  float: left;
  margin-right: 23px;
  margin-bottom: 25px;
}
.wiki-body .article .article-bg .article-left .article-description p {
  margin: 7.5px 0;
  line-height: 30px;
  color: #e4e4e4;
}
.wiki-body .article .article-bg .article-left .article-description p b {
  font-size: 20px;
}
.wiki-body .article .article-bg .article-left .article-description p .sdv {
  font-family: Sloppy-Hand, "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  margin: 0px 5px;
  font-size: 120%;
  color: #b2d878;
}
.wiki-body .article .article-bg .article-left .article-description .game-desc {
  clear: both;
  padding: 8px 0;
}
.wiki-body .article .article-bg .article-left .article-description .game-desc .desc-item {
  display: inline-block;
  background-color: #227a33;
  border-radius: 4px;
  padding: 6px 12px;
  text-align: center;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.wiki-body .article .article-bg .article-left .article-description .game-desc .desc-item:hover {
  background-color: rgba(19, 112, 25, 0.98);
}
.wiki-body .article .article-bg .article-left .article-description .changes-log {
  display: inline-block;
  margin: 1.2em 0;
}
.wiki-body .article .article-bg .article-left .article-description .changes-log .changes-item {
  margin: auto;
  background-color: #2d94cf;
  padding: 8px 12px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.15);
}
.wiki-body .article .article-bg .article-left .article-description .changes-item:hover {
  background-color: #2476a5;
}
.wiki-body .article .article-bg .article-right {
  width: 50%;
  float: left;
  border-color: #b6dc7e;
  box-sizing: border-box;
  padding: 0 12px;
  margin-top: 20px;
  font-size: 14px;
}
.wiki-body .article .article-bg .article-right .game-news {
  margin-top: 30px;
  padding: 12px;
  background-color: #227a33;
  border-radius: 4px;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.15);
}
.wiki-body .article .article-bg .article-right .game-news .news-list {
  margin-bottom: 9px;
  padding-left: 28px;
}
.wiki-body .article .article-bg .article-right .game-news .news-list .news-items {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.8;
  list-style-type: disc;
}
.wiki-body .article .article-bg .article-right .game-news .news-list .news-items .morenews {
  color: #b6dc7e;
}
.wiki-body .article .game-art-bg {
  overflow: hidden;
}
.wiki-body .article .game-art-bg .game-descriptions {
  margin-top: 20px;
  padding-right: 12px;
  width: 50%;
  box-sizing: border-box;
  float: left;
}
.wiki-body .article .game-art-bg .game-descriptions .game-introduce .nav-tabs {
  background-color: #227a33;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 2.5em;
  position: relative;
}
.wiki-body .article .game-art-bg .game-descriptions .game-introduce .nav-tabs .tabs-items {
  display: inline-block;
  margin-left: 1em;
}
.wiki-body .article .game-art-bg .game-descriptions .game-introduce .nav-tabs .tabs-items a {
  padding: 10px 15px;
  color: #b6dc7e;
}
.wiki-body .article .game-art-bg .game-descriptions .game-introduce .nav-tabs .tabs-items:hover {
  background-color: #103220;
  border-radius: 4px 4px 0 0;
}
.wiki-body .article .game-art-bg .game-descriptions .game-introduce .nav-tabs .tab-content {
  box-sizing: border-box;
}
.wiki-body .article .game-art-bg .game-descriptions .game-introduce .nav-tabs .tab-content .tab-actives {
  background-color: #103220;
  column-count: 3;
  padding: 0 3em;
  border-bottom: 1px #227a33 solid;
}
.wiki-body .article .game-art-bg .game-descriptions .game-introduce .nav-tabs .tab-content .tab-actives .tab-active .active-items {
  margin: 5px 0;
  line-height: 1.8;
  list-style-type: disc;
}
.wiki-body .article .game-art-bg .game-descriptions .game-introduce .nav-tabs .tab-content .tab-actives .tab-active .active-items a {
  color: #b6dc7e;
}
.wiki-body .article .game-art-bg .game-descriptions .game-introduce .nav-tabs .tab-content .tab-actives .tab-active .active-items img {
  width: 32px;
  height: 36px;
  vertical-align: middle;
}
.wiki-body .article .game-art-bg .editing-activity {
  margin-top: 20px;
  padding-right: 12px;
  width: 50%;
  box-sizing: border-box;
  float: left;
}
.wiki-body .article .game-art-bg .editing-activity .editing-title {
  background-color: #227a33;
  color: #fff;
  text-align: left;
  padding: 0.7em 0 0.55em 0.35em;
  border-radius: 4px;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.15);
}
.wiki-body .article .game-art-bg .editing-activity .editing-title .edit-title {
  margin-left: 1em;
}
.wiki-body .article .game-art-bg .editing-activity .editing-content {
  background-color: #103220;
  padding: 0.5em 1.5em 1.5em 0.5em;
  border-radius: 0 0 4px 4px;
  margin-bottom: 1em;
  position: relative;
}
.wiki-body .article .game-art-bg .editing-activity .editing-content span,
.wiki-body .article .game-art-bg .editing-activity .editing-content a {
  color: #999;
  line-height: 17.5px;
  font-size: 12px;
}
.wiki-body .article .game-art-bg .editing-activity .editing-content .user-home-activity {
  padding: 10px 0;
}
.wiki-body .article .game-art-bg .editing-activity .editing-content .user-home-activity .media-content {
  display: flex;
}
.wiki-body .article .game-art-bg .editing-activity .editing-content .user-home-activity .media-body {
  margin-left: 20px;
  flex: 1;
}
.wiki-body .article .game-art-bg .editing-activity .editing-content .user-home-activity .media-body .user {
  line-height: 17.5px;
  font-size: 12px;
  color: #999;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wiki-body .article .game-art-bg .editing-activity .editing-content .user-home-activity .media-body .media-title a {
  color: #b6dc7e;
  font-size: 18px;
  font-weight: bold;
}
.wiki-body .article .game-art-bg .editing-activity .editing-content .media-time-ago {
  text-align: right;
}
.wiki-body .article .game-art-bg .editing-activity .editing-content .media-time-ago .time-ago-h::after {
  content: "";
  width: 2px;
  height: 12px;
  display: inline-block;
  margin: -1px 3px;
  background-color: #999;
}
