@charset "utf-8";
/* CSS Document */
html {
    font: bolder 18px/1.5em 'Courier New', Courier, monospace;
}

nav {
    height: 55px;
    background-color: rgba(0, 134, 0,0.75);
    text-align: left;
    padding: 1px;
}

a {
    text-decoration: none;
    color: white;
}

.all>li {
    display: inline-block;
    list-style: none;
}

.all>li:hover {
    background-color: rgba(0, 140, 0, 0.75);
}
.all>li:first-child {
    font-size: 25px;
}

/* .hiddenlist>li {
    display: none;
} */

p {
    font: bolder 18px/1.5 'Courier New', Courier, monospace;
    background-color: rgba(0, 200, 0,0.75);
    width: 600px;
    color: white;
}

/* footer {
    background-color:rgba(0, 0, 0, 0.25);
    clear: both;
    text-align: center;
    padding: 2px;
} */
