@charset "utf-8";
/* CSS Document */
p {
    color: rgb(1, 159, 180);
}
h1 {
    color: aqua;
    text-align:center
}
h2 {color: hotpink;}
h2 {color: hotpink;}
h2 {color: hotpink;}
a {color: rgb(6, 244, 46)}
