@charset "utf-8";
/* CSS Document */
p {
    color: rgb(1, 159, 180);
}
h1 {
    color: aqua;
    text-align:center
}
h2 {color: hotpink;}
header {
    background-color: #429296;
    color: white;
    text-align: center;
    padding: 5px;
}
aside {
    line-height: 30px;
    background-color: #eeeeee;
    height: 500px;
    width: 100px;
    float: left;
    padding: 15px;
}
footer {
    background-color: #429296;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}